@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

#channel-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    margin-bottom: 10px;
}

#channel-card {
  height: 200px !important;
  width: 300px !important;
  padding: 10px !important;
  flex-shrink: 0;
  margin: 15px;
  background: #fffffb !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#channel-profile {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#header {
    display:flex;
    justify-content: space-between;
}

#header > span {
    background-color: blue;
}

a:link  {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}


#channel-profile > img {
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;
    margin-right:10px
}

#channel-desc {
    padding-left:5px;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
}
  
