:root {
  --ytd-rich-grid-items-per-row: 4;
  --ytd-rich-grid-posts-per-row: 3;
  --ytd-rich-grid-movies-per-row: 6;
  --yt-spec-text-primary: #fff;
  --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
  --yt-spec-brand-background-solid: #212121;
  --ytd-rich-grid-item-margin: 16px;
}

.channel-section {
  width: 100%;
  margin-left: calc(var(--ytd-rich-grid-item-margin) / 2);
  margin-right: calc(var(--ytd-rich-grid-item-margin) / 2);
}

.rich-shelf {
  border-top: 4px solid var(--yt-spec-10-percent-layer);
  width: 100%;
  overflow-x: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#rich-header {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.ytd-post-renderer[uses-compact-lockup] {
  --yt-img-border-radius: 2px;
  padding: 12px 24px 0 24px;
  border: 1px solid var(--yt-spec-10-percent-layer);
  max-width: 400px;
  width: 400px;
  height: 196px;
  background-color: var(--yt-spec-brand-background-solid);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.ytd-post-renderer[fit] {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}

.ytd-rich-item-renderer {
  margin-left: calc(var(--ytd-rich-grid-item-margin) / 2);
  margin-right: calc(var(--ytd-rich-grid-item-margin) / 2);
}

#contents .ytd-rich-shelf-renderer {
  margin-bottom: 20px;
}

.ytd-rich-shelf-renderer[is-show-more-hidden] {
  border-bottom: 4px solid var(--yt-spec-10-percent-layer);
}

.scroll-through {
  max-height: 400px;
}

.scroll-through::-webkit-scrollbar {
  /* display:  */
  width: 3px;
}
.scroll-through::-webkit-scrollbar-track {
  background: none;
}
.scroll-through::-webkit-scrollbar-thumb {
  background: #888;
}

.scroll-through::-webkit-scrollbar-thumb:hover {
  background: #555;
}
